@import url("header.css");
@import url("footer.css");
.appoint {
  padding: 5rem 10%;
}
.appoint .appoint-desc {
  text-align: center;
}
.appoint .appoint-desc h1 {
  font-size: var(--h1);
  font-weight: 800;
  color: var(--purple);
  text-transform: uppercase;
}
.appoint .appoint-desc p {
  font-size: var(--p);
  margin-bottom: 2rem;
}
.appoint .appoint-desc a {
  padding: 12px 34px;
  background-color: var(--purple);
  color: var(--white);
  text-decoration: none;
  transition: 0.5s ease;
}
.appoint .appoint-desc a:hover {
  background-color: var(--pink);
}

.appointment {
  padding: 3rem 15%;
}
.appointment .appointment-form .form h1 {
  font-size: var(--h1);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--purple);
}
.appointment .appointment-form .form label {
  margin: 0.5rem 0;
}
.appointment .appointment-form .form .btn {
  margin-top: 1.5rem;
  background-color: var(--purple);
  color: var(--white);
}