@import url('header.css');
@import url('footer.css');

.appoint {
    padding: 5rem 10%;

    .appoint-desc {
        text-align: center;

        h1 {
            font-size: var(--h1);
            font-weight: 800;
            color: var(--purple);
            text-transform: uppercase;
        }

        p {
            font-size: var(--p);
            margin-bottom: 2rem;
        }

        a {
            padding: 12px 34px;
            background-color: var(--purple);
            color: var(--white);
            text-decoration: none;
            transition: 0.5s ease;
        }

        a:hover {
            background-color: var(--pink);
        }
    }
}

.appointment {
    padding: 3rem 15%;

    .appointment-form {

        .form {

            h1 {
                font-size: var(--h1);
                text-transform: uppercase;
                font-weight: 800;
                color: var(--purple);
            }

            label {
                margin: .5rem 0;
            }

            .btn {
                margin-top: 1.5rem;
                background-color: var(--purple);
                color: var(--white);
            }
        }
    }
}