@import url("header.css");
@import url("footer.css");
.contact .contact-title {
  padding: 3rem 10%;
  text-align: center;
}
.contact .contact-title h1 {
  font-size: var(--h1);
  text-transform: uppercase;
  font-weight: 800;
}
.contact .contact-title p {
  font-size: var(--p);
}
.contact .contact-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 5%;
  background-color: var(--lightgray);
}
.contact .contact-flex .contact-side .contact-quote,
.contact .contact-flex .contact-side .contact-info,
.contact .contact-flex .contact-side .social-media {
  margin: 5rem 0;
}
.contact .contact-flex .contact-side .contact-quote h1 {
  color: var(--black);
  font-size: var(--h1);
  font-weight: 800;
}
.contact .contact-flex .contact-side .contact-quote p {
  font-size: var(--p);
}
.contact .contact-flex .contact-side .contact-quote .contact-info {
  margin-left: 1rem;
}
.contact .contact-flex .contact-side .contact-quote .contact-info i {
  margin: 0 1rem;
  line-height: 3rem;
  color: var(--black);
}
.contact .contact-flex .contact-side .contact-quote .social-media a {
  padding: 1rem 1.2rem;
  font-size: var(--p);
  color: var(--purple);
  border-radius: 50%;
  transition: 0.5s ease;
}
.contact .contact-flex .contact-side .contact-quote .social-media a:hover {
  color: var(--pink);
}
.contact .contact-flex .contact-form {
  background-color: var(--white);
  padding: 2rem 2rem;
  border-radius: 10px;
}
.contact .contact-flex .contact-form h1 {
  font-size: var(--h1);
  color: var(--purple);
  font-weight: 800;
}
.contact .contact-flex .contact-form textarea {
  margin-bottom: 1rem;
}
.contact .contact-flex .contact-form .btn {
  padding: 12px 34px;
  border-radius: 5px;
  background-color: var(--purple);
  color: var(--white);
  font-size: var(--a);
  text-decoration: none;
  transition: 0.5s ease;
}
.contact .contact-flex .contact-form .btn:hover {
  background-color: var(--pink);
}

@media (max-width: 500px) {
  .contact .contact-flex {
    display: block;
    padding: 2rem 5%;
  }
  .contact .contact-flex .contact-side .contact-quote,
.contact .contact-flex .contact-side .contact-info,
.contact .contact-flex .contact-side .social-media {
    margin: 1rem 0.1rem;
  }
  .contact .contact-flex .contact-side .contact-quote h1 {
    text-align: center;
  }
  .contact .contact-flex .contact-side .contact-quote p {
    text-align: center;
  }
  .contact .contact-flex .contact-side .contact-quote .social-media {
    margin: 0 3.5rem;
  }
  .contact .contact-form {
    padding: 1.5rem 1.5rem;
  }
}