* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #121212;
  --white: #FFFFFF;
  --purple: #D600EE;
  --pink: #FB00C1;
  --lightgray: #F6F6F6;
  --darkgray: #616161;
  --h1: 48px;
  --h2: 36px;
  --p: 16px;
  --a: 12px;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

.head {
  padding: 1rem 5%;
  display: flex;
  background-color: var(--darkgray);
  justify-content: space-between;
  align-items: center;
}
.head .head-desc p {
  font-size: var(--p);
  margin: 0;
  color: var(--white);
}
.head .head-social {
  display: flex;
  color: var(--white);
}
.head .head-social p {
  margin: 0 1rem;
  font-size: var(--p);
}
.head .head-social a {
  margin: 0 1rem;
  font-size: var(--p);
  color: var(--white);
  transition: 0.5 ease;
}
.head .head-social a:hover {
  color: var(--pink);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 2000;
}
.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 5%;
}
.header .flex img {
  height: 5rem;
}
.header .navbar a {
  margin-left: 2rem;
  font-size: var(--a);
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s ease;
}
.header .navbar a:hover {
  color: var(--purple);
}
.header .navbar .btnLogin {
  background-color: var(--purple);
  padding: 12px 34px;
  color: var(--white);
}
.header .navbar .btnLogin:hover {
  background-color: var(--pink);
  color: var(--white);
}

.contact .contact-title {
  padding: 3rem 10%;
  text-align: center;
}
.contact .contact-title h1 {
  font-size: var(--h1);
  text-transform: uppercase;
  font-weight: 800;
}
.contact .contact-title p {
  font-size: var(--p);
}
.contact .contact-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 5%;
  background-color: var(--lightgray);
}
.contact .contact-flex .contact-side .contact-quote,
.contact .contact-flex .contact-side .contact-info,
.contact .contact-flex .contact-side .social-media {
  margin: 5rem 0;
}
.contact .contact-flex .contact-side .contact-quote h1 {
  color: var(--black);
  font-size: var(--h1);
  font-weight: 800;
}
.contact .contact-flex .contact-side .contact-quote p {
  font-size: var(--p);
}
.contact .contact-flex .contact-side .contact-quote .contact-info {
  margin-left: 1rem;
}
.contact .contact-flex .contact-side .contact-quote .contact-info i {
  margin: 0 1rem;
  line-height: 3rem;
  color: var(--black);
}
.contact .contact-flex .contact-side .contact-quote .social-media a {
  padding: 1rem 1.2rem;
  font-size: var(--p);
  color: var(--purple);
  border-radius: 50%;
  transition: 0.5s ease;
}
.contact .contact-flex .contact-side .contact-quote .social-media a:hover {
  color: var(--pink);
}
.contact .contact-flex .contact-form {
  background-color: var(--white);
  padding: 2rem 2rem;
  border-radius: 10px;
}
.contact .contact-flex .contact-form h1 {
  font-size: var(--h1);
  color: var(--purple);
  font-weight: 800;
}
.contact .contact-flex .contact-form textarea {
  margin-bottom: 1rem;
}
.contact .contact-flex .contact-form .btn {
  padding: 12px 34px;
  border-radius: 5px;
  background-color: var(--purple);
  color: var(--white);
  font-size: var(--a);
  text-decoration: none;
  transition: 0.5s ease;
}
.contact .contact-flex .contact-form .btn:hover {
  background-color: var(--pink);
}

@media (max-width: 500px) {
  .contact .contact-flex {
    display: block;
    padding: 2rem 5%;
  }
  .contact .contact-flex .contact-side .contact-quote,
.contact .contact-flex .contact-side .contact-info,
.contact .contact-flex .contact-side .social-media {
    margin: 1rem 0.1rem;
  }
  .contact .contact-flex .contact-side .contact-quote h1 {
    text-align: center;
  }
  .contact .contact-flex .contact-side .contact-quote p {
    text-align: center;
  }
  .contact .contact-flex .contact-side .contact-quote .social-media {
    margin: 0 3.5rem;
  }
  .contact .contact-form {
    padding: 1.5rem 1.5rem;
  }
}