.footer {
    padding: 5rem 5%;
    background-color: var(--lightgray);

    .footer-desc {
        display: flex;
        justify-content: space-between;

        .footer-about {

            h1 {
                font-size: var(--h2);
                font-weight: 800;
                text-transform: uppercase;
            }

            p {
                font-size: var(--p);
                font-weight: 600;
            }
        }
    
        .footer-links {

            h1 {
                font-size: var(--h2);
                font-weight: 800;
                text-transform: uppercase;
            }

            p {
                font-size: var(--p);
                font-weight: 600;
            }
        }

        .footer-contact {

            h1 {
                font-size: var(--h2);
                font-weight: 800;
                text-transform: uppercase;
            }

            i {
                font-size: var(--p);
                color: var(--purple);
                cursor: pointer;
                transition: 0.5s ease;
            }

            i:hover {
                color: var(--pink);
            }

            a {
                margin-left: 1rem;
                text-decoration: none;
                text-transform: uppercase;
                color: var(--black);
                font-weight: 600;
            }
        }
    }
}