.footer {
  padding: 5rem 5%;
  background-color: var(--lightgray);
}
.footer .footer-desc {
  display: flex;
  justify-content: space-between;
}
.footer .footer-desc .footer-about h1 {
  font-size: var(--h2);
  font-weight: 800;
  text-transform: uppercase;
}
.footer .footer-desc .footer-about p {
  font-size: var(--p);
  font-weight: 600;
}
.footer .footer-desc .footer-links h1 {
  font-size: var(--h2);
  font-weight: 800;
  text-transform: uppercase;
}
.footer .footer-desc .footer-links p {
  font-size: var(--p);
  font-weight: 600;
}
.footer .footer-desc .footer-contact h1 {
  font-size: var(--h2);
  font-weight: 800;
  text-transform: uppercase;
}
.footer .footer-desc .footer-contact i {
  font-size: var(--p);
  color: var(--purple);
  cursor: pointer;
  transition: 0.5s ease;
}
.footer .footer-desc .footer-contact i:hover {
  color: var(--pink);
}
.footer .footer-desc .footer-contact a {
  margin-left: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 600;
}