@import url('header.css');
@import url('footer.css');

.account {
    padding: 3rem 5%;

    .account-title {
        text-align: center;
        width: 100%;
        padding: 2.5rem 30%;

        h1 {
            font-size: var(--h1);
            text-transform: uppercase;
            font-weight: 800;
            color: var(--purple);
            margin-bottom: 2rem;
        }
    }
    
    .account-desc {
        padding: 0 25%;

        form {

            button {
                margin-bottom: 1rem;
                padding: 12px 34px;
                color: var(--white);
                background-color: var(--purple);
                border: 0;
                transition: 0.5s ease;
            }

            button:hover {
                background-color: var(--pink);
            }

            a {
                text-decoration: none;
                color: var(--white);
                transition: 0.5s ease;
            }
        }
    }
}