@import url("header.css");
@import url("footer.css");
.services {
  padding: 5rem 5%;
  background-color: var(--lightgray);
}
.services .services-title {
  text-align: center;
}
.services .services-title h1 {
  font-size: var(--h1);
  font-weight: 800;
  color: var(--purple);
  text-transform: uppercase;
}
.services .services-card {
  margin-top: 2rem;
}
.services .services-card .row .column {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}
.services .services-card .row .column .card {
  width: 22rem;
  background: transparent;
  border: 0;
  margin: 1rem 1rem;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem 1rem;
  border-radius: 10px;
}
.services .services-card .row .column .card img {
  width: 20rem;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.services .services-card .row .column .card h3 {
  font-size: var(--h3);
  margin: 1rem 0;
  font-weight: 800;
}
.services .services-card .row .column .card a {
  font-size: var(--a);
  background-color: var(--purple);
  border-radius: 10px;
  padding: 12px 34px;
  text-decoration: none;
  color: var(--white);
  transition: 0.5s ease;
}
.services .services-card .row .column .card a:hover {
  background-color: var(--pink);
}
.services .services-card .row .btnLearn {
  text-align: center;
  margin-top: 3rem;
}
.services .services-card .row .btnLearn a {
  font-size: var(--a);
  background-color: var(--red);
  border-radius: 10px;
  padding: 12px 34px;
  text-decoration: none;
  color: var(--white);
  transition: 0.5s ease;
}
.services .services-card .row .btnLearn a:hover {
  background-color: var(--black);
}

@media (max-width: 800px) and (min-width: 501px) {
  .services {
    padding: 1rem 1rem;
  }
}
@media (max-width: 500px) {
  .services {
    height: 100%;
    padding: 2rem 1rem;
  }
  .services .services-card {
    padding: 1rem 1rem;
  }
  .services .services-card .row {
    justify-content: center;
    align-items: center;
  }
  .services .services-card .row .column {
    display: contents;
  }
  .services .services-card .row .column .card {
    margin-bottom: 2rem;
  }
  .services .services-card .row .column .card img {
    width: 100%;
  }
}